language: python

matrix:
    include:
        - os: linux
          sudo: required
          python: 3.2
          env: TOXENV=py32
        - os: linux
          sudo: required
          python: 3.3
          env: TOXENV=py33
        - os: osx
          language: generic
          env: TOXENV=py32
        - os: osx
          language: generic
          env: TOXENV=py33
install:
    - pip install astroquery
    - pip install astropy
    - pip install scipy
    - pip install base64
    - pip install copy
    - pip install re
    - ./.travis/install.sh
script: python tests/tests_splat/test_splat.py
#before_install:
#  - sudo apt-get -qq update
#  - sudo apt-get install -y libxml2-dev

#only test master branch
branches:
  only:
  - master

#notifications:
#  email: false
