# Include the license file
include LICENSE.txt

# Include documentation
recursive-include docs/html *

# Include the data files
recursive-include splat/db *.bib *.txt
#recursive-include resources/EvolutionaryModels *.txt
#recursive-include resources/Filters *.txt
#recursive-include resources/Spectra *.fits
#recursive-include resources/SpectralModels *.txt
