#
####### requirements for SPLAT #######
# using the format recommended in https://caremad.io/posts/2013/07/setup-vs-requirement/
#

# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

-e .