<html>

<!-- START OF HEADER -->

<head>
<title>SPLAT</title>

<link rel="shortcut icon" href="http://pono.ucsd.edu/~adam/browndwarfs/spexprism/graphics/splat_logo.jpg">
<link rel="stylesheet" type="text/css" href="http://pono.ucsd.edu/~adam/browndwarfs/spexprism/styles/mainstyle.css">

<meta name="keywords" content="low mass stars, brown dwarfs, M dwarfs, L dwarfs, T dwarfs, astronomy, astrophysics, SpeX, near-infrared, spectroscopy">
</head>

<body>
<a name="top"></a>


<table cellpadding=5>
<tr>
<td valign=middle align=center>
<a href="http://pono.ucsd.edu/~adam/browndwarfs/" border=0>
<img src="http://pono.ucsd.edu/~adam/browndwarfs/spexprism/graphics/splat_logo.jpg" height=100 width=103 border=0 vspace=3 hspace=10 align=middle><br>
<img src="http://pono.ucsd.edu/~adam/browndwarfs/graphics/titlesm.jpg" width=180 height=25 border=0 vspace=3 hspace=10 align=middle>
</a>

<td valign=middle>
<h1>SPLAT</h1>
</tr>
</table>

<table cellpadding=15>
<tr>
<td align=right valign=top width=100>
<br>
<h3><a href="index.html">Home</a></h3>
<h3><a href="about.html">Using the Libraries</a></h3>
<h3><a href="library.html">The Libraries</a></h3>
<h3><a href="contribute.html">Contribute Data</a></h3>
<h3><a href="publications.html">Publications</a></h3>
<h3><a href="links.html">Links</a></h3>
<h3><a href="contact.html">Contact</a></h3>
<h3><a href="acknowledgements.html">Acknowledgements</a></h3>
</td>

<td width=600 valign=top>
<br>

<!-- END OF HEADER -->

<p>
<strong>The SpeX Prism Libraries</strong> hosts roughly <strong>1000</strong> low-resolution, near-infrared spectra of low-temperature dwarf stars and brown dwarfs obtained with the <a href="http://irtfweb.ifa.hawaii.edu/~spex/">SpeX spectrograph</a> mounted on the <a href="http://irtfweb.ifa.hawaii.edu/">3m NASA Infrared Telescope Facility</a> on Mauna Kea, Hawaii.  SpeX is a dual-mode near-infrared spectrograph; the data provided here have been obtained using its low-resolution prism-dispersed mode with resolutions of 75-200 depending on the slit width used.  All data span roughly 0.65-2.55 microns in a single order.
<p>
The data provided here have been obtained by myself and <a href="contribute.html">several researchers</a> who use SpeX to study low mass stars and brown dwarfs.  The majority of the data are of dwarfs with spectral types M, L and T, but some other sources (e.g., giants, carbon stars, background stars) can be found as well.  Because of the variety of data sources, the libraries contain spectra of varying qualities and resolutions.  Careful users are encouraged to review the associated data citations.
<p>
<b>If you find this site useful...</b>
<p>

Please include the following acknowledgment in your publication or presentation:
<p>
<dl>
<dd><em>"This research has benefitted from the SpeX Prism Spectral Libraries, maintained by Adam Burgasser at http://pono.ucsd.edu/~adam/browndwarfs/spexprism"</em>
</dl>
Comments and suggestions for improvement are always welcome.

<!-- BEGIN FOOTER -->

</td>
</tr>
</table>

<br><br><br>

<a href="http://pono.ucsd.edu/~adam/browndwarfs/spexprism/">The SpeX Prism Libraries</a><br> http://pono.ucsd.edu/~adam/browndwarfs/spexprism/<br><br>

This site has been visited
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=3306879; 
var sc_invisible=0; 
var sc_partition=36; 
var sc_security="cb1a8df0"; 
var sc_text=3; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a class="statcounter" href="http://www.statcounter.com/"><img class="statcounter" src="http://c37.statcounter.com/3306879/0/cb1a8df0/0/" alt="click analytics" /></a></div></noscript>
<!-- End of StatCounter Code -->
times since 4 January 2008 - <a href="http://my.statcounter.com/project/standard/stats.php?project_id=3306879&guest=1">View Stats</a>


</body>

<!-- END FOOTER -->

</html>