<title>Spectrum Plot</title>
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>


<style>
.firstForm {
    float: center;
}

.loadButton {
    float: ;}
</style>
<html>
<div style="width:600px;" id="header" class="clearfix float-my-children">
    <!--
    <h1 align="center" >
        SpeX Prism Spectral Libraries   
    </h1>
    -->
    <img class="img-border" src="http://pono.ucsd.edu/~adam/browndwarfs/spexprism/graphics/spl_logo.jpg" style="width:100;" id="header-image">
    <h1 align="center" >
        SpeX Prism Spectral Libraries   
    </h1>
    </img>
</div>  
    
    <body style="background-color:#FA8258;" >
        <div style="background-color: #F5D0A9; margin-top: 25px; padding: 10px;" align="center">

            <form class = "form-horizontal"  method="post" enctype="multipart/form-data" action="{{ url_for('load_spectra') }}">
                <div>
                    <input class="firstForm" type="text" name="path" placeholder="Path to file" multiple="">
                    <input type="submit" name="submit" value="Load Spectra">
                    </div>  
            </form>
        <hr>
            <form class = "form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('load_spectra') }}">
                <input type="text" name="name" placeholder = "Shortname or Simbad Name" />
                <input type="submit" name="submit" value="Load Spectra ">
            </form>
        <hr>
            <form class = "form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('load_spectra') }}">
                <p>
                    <input type="text" name="sp1" placeholder = "SpT 1" />
                    +
                    <input type="text" name="sp2" placeholder = "SpT 2" />
                </p>        
                <p>
                    <input type="text" name="mag1" placeholder = "Low Magnitude" />
                    +
                    <input type="text" name="mag2" placeholder = "High Magnitude" />
                </p>
                <p>
                    <input type="text" name="snr" placeholder = "Signal to Noise" />
                    or
                    <input type="text" name="date" placeholder = "YYYYMMDD" />
                </p>
            <table class="nav" align="center">
                <tr>
                    <td>
                        <div class="nav_button">
                        <div class="b_left"><input type="submit" style="loadButton" name="submit" value="Load Spectra  "></div>
                        <div class="b_middle"></div>
                        <div class="b_right"></div>
                        </div>              
                    </td>
                </tr>
            </table>    
            </form>
        <hr>
        <hr>
            <form class = "form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('load_spectra') }}">
                <input type="submit" style="loadButton" name="submit" value="Get Lucky!">
            </form>
        <hr>
        
        </div>
        <div>
        {{error}}
        </div>
    </body>
</html>


